---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { Icon } from "astro-icon";
export const getStaticPaths = async ({ paginate }) => {
  const allPosts = await Astro.glob("./*.md");
  return paginate(allPosts, { pageSize: 1 });
};

const { page } = Astro.props;

console.log(Astro);

// console.log(page.url);
---

<Layout title="文章">
  <div class="container max-w-3xl flex flex-col flex-1">
    <article class="flex-1">
      <ul role="list" class="link-card-grid">
        {
          page.data.map((post) => (
            <Card
              href={post.url}
              title={post.frontmatter.title}
              body={post.frontmatter.description}
            />
          ))
        }
      </ul>
    </article>
    <footer class="flex justify-between my-5 items-center">
      {
        page.url.prev ? (
          <a class="flex items-center" href={page.url.prev}>
            <Icon
              class="rotate-180"
              name="ic:baseline-keyboard-double-arrow-right"
              width="20"
              height="20"
            />
            <span>Prev</span>
          </a>
        ) : (
          <a
            class="flex items-center cursor-not-allowed opacity-30"
            href="javascript:;"
          >
            <Icon
              class="rotate-180"
              name="ic:baseline-keyboard-double-arrow-right"
              width="20"
              height="20"
            />
            <span>Prev</span>
          </a>
        )
      }
      <!-- <p>当前第{page.currentPage}页</p> -->
      <p class="page-total">{page.currentPage}/{page.lastPage}页</p>
      {
        page.url.next ? (
          <a class="flex items-center" href={page.url.next}>
            <span>Next</span>
            <Icon
              name="ic:baseline-keyboard-double-arrow-right"
              width="20"
              height="20"
            />
          </a>
        ) : (
          <a
            class="flex items-center cursor-not-allowed opacity-30"
            href="javascript:;"
          >
            <span>Next</span>
            <Icon
              name="ic:baseline-keyboard-double-arrow-right"
              width="20"
              height="20"
            />
          </a>
        )
      }
    </footer>
  </div>
</Layout>
<script>
  // console.log(Astro);
</script>
