---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
export const getStaticPaths = async ({ paginate }) => {
  const allPosts = await Astro.glob("./*.md");
  return paginate(allPosts, { pageSize: 2 });
};

const { page } = Astro.props;
console.log(page.url);
---

<Layout title="文章">
  <ul role="list" class="link-card-grid">
    {
      page.data.map((post) => (
        <Card
          href={post.url}
          title={post.frontmatter.title}
          body={post.frontmatter.description}
        />
      ))
    }
  </ul>
  {page.url.prev && <a href={page.url.prev}>上一页</a>}
  <a href={page.url.next}>下一页</a>
</Layout>
